p {
    color: black;
}
.header {
    background: rgb(76, 80, 88);
    height: 100px;
}
@font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/RobotoThin.ttf");
    font-weight: 100;
  }
  @font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/RobotoRegular.ttf");
    font-weight: 300;
  }
.list {
    background-color: azure;
    border: 1px solid blue;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer {
    background: rgb(6, 6, 6);
    height: 200px;
  }